<script>
import { GlButton, GlTooltipDirective } from '@gitlab/ui';
import SafeHtml from '~/vue_shared/directives/safe_html';
import { __ } from '~/locale';
import eventHub from '../event_hub';
import animateMixin from '../mixins/animate';

export default {
  i18n: {
    editTitleAndDescription: __('Edit title and description'),
  },
  components: {
    GlButton,
  },
  directives: {
    GlTooltip: GlTooltipDirective,
    SafeHtml,
  },
  mixins: [animateMixin],
  props: {
    issuableRef: {
      type: [String, Number],
      required: true,
    },
    canUpdate: {
      required: false,
      type: Boolean,
      default: false,
    },
    titleHtml: {
      type: String,
      required: true,
    },
    sample1: {
      type: String,
      required: false,
    },
    external_ref: {
      type: String,
      required: false,
    },
    external_ref2: {
      type: String,
      required: false,
    },
    external_ref3: {
      type: String,
      required: false,
    },
    external_ref4: {
      type: String,
      required: false,
    },
    external_ref5: {
      type: String,
      required: false,
    },
    external_ref6: {
      type: String,
      required: false,
    },
    external_ref7: {
      type: String,
      required: false,
    },
    external_ref8: {
      type: String,
      required: false,
    },
    external_ref9: {
      type: String,
      required: false,
    },
    external_refa: {
      type: String,
      required: false,
    },
    external_refb: {
      type: String,
      required: false,
    },
    external_refc: {
      type: String,
      required: false,
    },
    external_refd: {
      type: String,
      required: false,
    },
    root_cause:{
      type: String,
      required: false, 
    },
    titleText: {
      type: String,
      required: true,
    },
    showInlineEditButton: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  data() {
    return {
      preAnimation: false,
      pulseAnimation: false,
      titleEl: document.querySelector('title'),
    };
  },
  watch: {
    titleHtml() {
      this.setPageTitle();
      this.animateChange();
    },
  },
  methods: {
    setPageTitle() {
      const currentPageTitleScope = this.titleEl.innerText.split('·');
      currentPageTitleScope[0] = `${this.titleText} (${this.issuableRef}) `;
      this.titleEl.textContent = currentPageTitleScope.join('·');
    },
    edit() {
      console.log('clicked edit')
      eventHub.$emit('open.form');
    },
  },
};
</script>

<template>
  <div class="title-container">
    <h1
      v-safe-html="titleHtml"
      :class="{
        'issue-realtime-pre-pulse': preAnimation,
        'issue-realtime-trigger-pulse': pulseAnimation,
      }"
      class="title gl-font-size-h-display"
      data-qa-selector="title_content"
      dir="auto"
    ></h1>
    <gl-button
      v-if="showInlineEditButton && canUpdate"
      v-gl-tooltip.bottom
      icon="pencil"
      class="btn-edit js-issuable-edit"
      :title="$options.i18n.editTitleAndDescription"
      :aria-label="$options.i18n.editTitleAndDescription"
      @click="edit"
    />
  </div>
</template>
