- project = local_assigns.fetch(:project)
- issuable = local_assigns.fetch(:issuable)
- presenter = local_assigns.fetch(:presenter)
- has_due_date = issuable.has_attribute?(:due_date)
- form = local_assigns.fetch(:form)

- if @add_related_issue
  .form-group
    .form-check
      = check_box_tag :add_related_issue, @add_related_issue.iid, true, class: 'form-check-input'
      = label_tag :add_related_issue, class: 'form-check-label' do
        - add_related_issue_link = link_to "\##{@add_related_issue.iid}", issue_path(@add_related_issue), class: ['has-tooltip'], title: @add_related_issue.title
        #{_('Relate to %{issuable_type} %{add_related_issue_link}').html_safe % { issuable_type: @add_related_issue.issue_type, add_related_issue_link: add_related_issue_link }}
        %p.text-muted= _('Adds this %{issuable_type} as related to the %{issuable_type} it was created from') % { issuable_type: @add_related_issue.issue_type }


.form-group
  = form.label :root_cause do
    = _('Root Cause')
  = form.text_area :root_cause, required: false, aria: { required: false }, maxlength: 255, autofocus: true,
      autocomplete: 'off', class: 'form-control pad', dir: 'auto'

.form-group
  = form.label :external_ref do
    = _('Solution Description')
  = form.text_area :external_ref, required: false, aria: { required: false }, maxlength: 255, autofocus: true,
      autocomplete: 'off', class: 'form-control pad', dir: 'auto'

.form-group
  = form.label :external_ref2 do
    = _('If there is new GUI input box, what is the range/limitation if not tell in UI')
  = form.text_area :external_ref2, required: false, aria: { required: false }, maxlength: 255, autofocus: true,
      autocomplete: 'off', class: 'form-control pad', dir: 'auto'

.form-group
  = form.label :external_ref3 do
    = _('If there is new CLI input parameter, what is the range/limitation if not tell in help info')
  = form.text_area :external_ref3, required: false, aria: { required: false }, maxlength: 255, autofocus: true,
      autocomplete: 'off', class: 'form-control pad', dir: 'auto'

.form-group
  = form.label :external_ref4 do
    = _('In backend implementation what are the limitations explicitly designed if any?')
  = form.text_area :external_ref4, required: false, aria: { required: false }, maxlength: 255, autofocus: true,
      autocomplete: 'off', class: 'form-control pad', dir: 'auto'

.form-group
  = form.label :external_ref5 do
    = _('What is the backend file to save the GUI settings for a NFR')
  = form.text_area :external_ref5, required: false, aria: { required: false }, maxlength: 255, autofocus: true,
      autocomplete: 'off', class: 'form-control pad', dir: 'auto'

.form-group
  = form.label :external_ref6 do
    = _('How does it work in a cluster ?')
  = form.text_area :external_ref6, required: false, aria: { required: false }, maxlength: 255, autofocus: true,
      autocomplete: 'off', class: 'form-control pad', dir: 'auto'

.form-group
  = form.label :external_ref7 do
    = _('What is the default settings ?')
  = form.text_area :external_ref7, required: false, aria: { required: false }, maxlength: 255, autofocus: true,
      autocomplete: 'off', class: 'form-control pad', dir: 'auto'

.form-group
  = form.label :external_ref8 do
    = _('Shall it have same behavior in the public cloud platforms?')
  = form.text_area :external_ref8, required: false, aria: { required: false }, maxlength: 255, autofocus: true,
      autocomplete: 'off', class: 'form-control pad', dir: 'auto'

.form-group
  = form.label :external_ref9 do
    = _('Any other points QA needs to know?')
  = form.text_area :external_ref9, required: false, aria: { required: false }, maxlength: 255, autofocus: true,
      autocomplete: 'off', class: 'form-control pad', dir: 'auto'

.form-group
  = form.label :external_refa do
    = _('Any other points QA nice to know?')
  = form.text_area :external_refa, required: false, aria: { required: false }, maxlength: 255, autofocus: true,
      autocomplete: 'off', class: 'form-control pad', dir: 'auto'

.form-group
  = form.label :external_refb do
    = _('What model have you tested?')
  = form.text_area :external_refb, required: false, aria: { required: false }, maxlength: 255, autofocus: true,
      autocomplete: 'off', class: 'form-control pad', dir: 'auto'

.form-group
  = form.label :external_refc do
    = _('What cases have you tested?')
  = form.text_area :external_refc, required: false, aria: { required: false }, maxlength: 255, autofocus: true,
      autocomplete: 'off', class: 'form-control pad', dir: 'auto'

.form-group
  = form.label :external_refd do
    = _('What cases else do you want QA to test?')
  = form.text_area :external_refd, required: false, aria: { required: false }, maxlength: 255, autofocus: true,
      autocomplete: 'off', class: 'form-control pad', dir: 'auto'


-# if issuable.respond_to?(:confidential) && can?(current_user, :set_confidentiality, issuable)
  .form-group
    = form.gitlab_ui_checkbox_component :confidential,
      _('This issue is confidential and should only be visible to team members with at least Reporter access.')

- if can?(current_user, :"set_#{issuable.to_ability_name}_metadata", issuable)
  .row.gl-pt-4
    %div{ class: (has_due_date ? "col-lg-6" : "col-12") }
      .form-group.row.merge-request-assignee
        = render "shared/issuable/form/metadata_issuable_assignee", issuable: issuable, form: form, has_due_date: has_due_date

      - if issuable.allows_reviewers?
        .form-group.row.merge-request-reviewer
          = render "shared/issuable/form/metadata_issuable_reviewer", issuable: issuable, form: form, has_due_date: has_due_date, presenter: presenter

      = render_if_exists "shared/issuable/form/epic", issuable: issuable, form: form, project: project

      - if issuable.supports_milestone?
        .form-group.row.issue-milestone
          = form.label :milestone_id, _('Milestone'), class: "col-12"
          .col-12
            .issuable-form-select-holder
              = render "shared/issuable/milestone_dropdown", selected: issuable.milestone, name: "#{issuable.class.model_name.param_key}[milestone_id]"

      .form-group.row
        = form.label :label_ids, _('Labels'), class: "col-12"
        = form.hidden_field :label_ids, multiple: true, value: ''
        .col-12
          .issuable-form-select-holder
            = render "shared/issuable/label_dropdown", classes: ["js-issuable-form-dropdown"], selected: issuable.labels, data_options: { field_name: "#{issuable.class.model_name.param_key}[label_ids][]", show_any: false }, dropdown_title: "Select label"

      = render_if_exists "shared/issuable/form/merge_request_blocks", issuable: issuable, form: form

    - if has_due_date
      .col-lg-6
        = render_if_exists "shared/issuable/form/weight", issuable: issuable, form: form
        .form-group.row
          = form.label :due_date, _('Due date'), class: "col-12"
          .col-12
            .issuable-form-select-holder
              = form.gitlab_ui_datepicker :due_date, placeholder: _('Select due date'), autocomplete: 'off', id: "issuable-due-date"
        = render_if_exists "shared/issuable/form/iteration", form: form, group: project.group
